<nav class="nav-primary" role="navigation">
  <ul>
    {% for p in site.pages %}
      <li>
        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
          {{ p.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
